<div class="container my-5">
    <form action="/uploadings/comments/{{uploading._id}}" method="POST">
    <div class="form-group">
        <label for="comment">Add comment</label>
        <textarea class="form-control" name="commentBody">

        </textarea>
    </div>
    <button type="submit" class="btn btn-primary">add comment</button>
    </form>
</div>