<div class="container mt-4">
    <form action="/banners"  enctype="multipart/form-data" method="post">
    
    <div class="form-group">
        <label for="file">upload file</label>
        <input type="file" name="photo" class="form-control-file" id="file" multiple>
    </div>
    
    <div class="form-group">
        <label for="imageUrl">imageUrl</label>
        <input type="text" name="urlBan" class="form-control" id="title" placeholder="https://www.google.com">
    </div>
    <button type="submit" class="btn btn-primary" id="btnsubmit">subbmit</button>
    </form>
</div>

